@model IEnumerable<ASP21.Models.Cliente>
@{
    ViewData["subtitle"] = "Clientes Registados";
}

<div class="row">
    <div class="col-6">
        <h2 class="titulo">@ViewBag.subtitle</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-controller="home" asp-action="adicionar_clientes" class="btn btn-primary">Add Novo Cliente</a>
    </div>
</div>

@if (Model.Count() == 0)
{
    <p>Não existem Clientes registados... </p>
}
else{
    <!-- Apresentar a tabela com os clientes registados -->
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model)
            {
                <tr>
                    <td>@cliente.nome</td>
                    <td>@cliente.telefone</td>
                    <td class="text-right">
                        <a asp-action="editar_cliente" asp-controller="home" asp-route-id="@cliente.id" class="btn btn-success"><i class="fa fa-pencil"></i> Editar</a> 
                        <a asp-action="eliminar_cliente" asp-controller="home" asp-route-id="@cliente.id" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
}
<!-- Apresentação dos dados dos clientes -->
<p><b>Existem @Model.Count().ToString() Registos.</b></p>

<div>
    <a asp-controller="home" asp-action="Index" class="btn btn-danger">Voltar</a>
</div>
